<div  class="card card-box mb-4">
    <div class="px-4 py-3 d-block d-md-flex justify-content-between align-items-center text-center text-md-left">
        <div class="d-flex flex-md-row flex-column align-items-center">
            <a href="javascript:history.back()"
            class="btn btn-neutral-primary btn-sm font-weight-bold m-2" style="background-color:#000 ;
           border-color: #000; color: white; margin-right: 50px !important;">
               <span class="btn-wrapper--icon">
                   <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
               </span>
               {{"Back" | translate }} 
           </a>
           
            
            <div class="font-size-lg font-weight-bold" style="cursor: pointer;" (click)="showPage('list')">
                   {{ "Session Images" | translate }} 
            </div>
            <div class="mx-3 d-none d-md-block">
                <div class="divider-v position-relative"></div>
                <div class="divider-v position-relative"></div>
            </div>
            <span class="text-black-50 font-size-md">
                 {{taskArrlength}} {{"in total" | translate }}
            </span>
           
            
        </div>
        <div class="d-block d-md-flex align-items-center">
            <button (click)="showPage('add')" class="btn btn-neutral-primary btn-sm font-weight-bold">
                  {{ "Add New" | translate }}
            </button> 
          
        </div>
    </div>
</div>




<div *ngIf="currentPage === 'list'">

    <div class="row">
        <div class="col-xl-4 col-lg-6" *ngFor="let s of filteredAllDiscussion  | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="card mb-5">
                <div class="card-header" style="float: right; text-align: right;">
                  
                    <a (click)="updatetask('edit',s.id)" class="btn btn-neutral-primary btn-sm  m-1" tooltip="Edit">
                        <span class="pe-7s-note font-size-lg"></span>

                    </a>

                    <a (click)="deleteTask(s.id)"  class="btn btn-danger btn-sm m-1" tooltip="Delete">
                        <span   class="pe-7s-trash font-size-md "></span>

                    </a>
                    
                </div>
                <div class="card-img-wrapper">
                  
                    
                    <img style="height: 340px;" src="{{imageHost+s.image}}"  class="card-img-top rounded" alt="...">
                </div>
                <div class="font-size-lg text-center m-2" style="cursor: pointer;" (click)="showPage('list')">
                    {{ s.title }} 
                </div>

              
                
            </div>

           
        </div>
      
        
    </div>
    <div class="d-flex justify-content-center">

        <pagination-controls previousLabel="Previous" nextLabel="Next"
         class="pagination-icons pagination-first" (pageChange)="p = $event"></pagination-controls>

    </div>
          
    
    

</div>

<div *ngIf="currentPage === 'add'">

   
    <div class="font-size-lg font-weight-bold m-1" style="cursor: pointer; text-align: center;">
      {{ "Add New" | translate }}
    </div><br>
    <div class="card cardinmob" >
      
        <form [formGroup]="Userform" (submit)="onSubmit(Userform.value)">


            
                <div class="form-row">

                    <div class="col-lg-12 col-md-12">   
                      
                        
                        <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                        </div>
                        <br>
                    
                        <fieldset class="form-group">
                    
                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="image/*"
                             #fileUploader (change)="showPreview($event)" class="custom-file-input"
                              id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose
                              Main Image</label>
                          </div>
                    
                        
                          
                        </fieldset>
                      </div>


      
                      <div class="col-md-12">
                        <div class="position-relative form-group"><label for="title">{{"Description" | translate }}</label>
                        <input class="form-control " id="title"  formControlName="title"
                        name="title" placeholder="" type="text"></div>
                    </div>
                </div>
             
                
    
                <div style="float: right;">
                    <button (click)="showPage('list')" class="mt-2 btn btn-dark m-2">{{"Back" | translate }}</button>
    
                    <button [disabled]="!isSubmitted" type="submit" class="mt-2 btn btn-primary m-2"> {{"Create" | translate }} </button>
        
                </div>


                
           
        </form>
    
       
        
    </div>
   
  
</div>


<div *ngIf="currentPage === 'edit'">

   
    <div class="font-size-lg font-weight-bold m-1" style="cursor: pointer; text-align: center;">
      {{ "Update" | translate }}
    </div><br>
    <div class="card cardinmob" >
      
        <form [formGroup]="Userform" (submit)="onUpdate(Userform.value)">


            
                <div class="form-row">

                    <div class="col-lg-12 col-md-12">   
                      
                        
                        <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                        </div>
                        <br>
                    
                        <fieldset class="form-group">
                    
                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="image/*"
                             #fileUploader (change)="showPreview($event)" class="custom-file-input"
                              id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose
                              Main Image</label>
                          </div>
                    
                        
                          
                        </fieldset>
                      </div>


      
                      <div class="col-md-12">
                        <div class="position-relative form-group"><label for="title">{{"Description" | translate }}</label>
                        <input class="form-control " id="title"  formControlName="title"
                        name="title" placeholder="" type="text"></div>
                    </div>
                </div>
             
                
    
                <div style="float: right;">
                    <button (click)="showPage('list')" class="mt-2 btn btn-dark m-2">{{"Back" | translate }}</button>
    
                    <button type="submit" class="mt-2 btn btn-primary m-2"> {{"Update" | translate }} </button>
        
                </div>


                
           
        </form>
    
       
        
    </div>
   
  
</div>


