<!-- <div class="app-sidebar--footer">
    <ul>
        <li>
            <a routerLink="/shop/home" 
            
            class="btn btn-sm btn-transition-none px-2 mx-2" tooltip="Home Report">
                <i-feather name="activity"></i-feather>
            </a>
        </li>
        <li>
            <a routerLink="/shop/notification" 
             class="btn btn-sm btn-transition-none px-2 mx-2" tooltip="Notification">
                <i-feather name="bell"></i-feather>
            </a>
        </li>
        <li>
            <a routerLink="/shop/orders" 
            class="btn btn-sm btn-transition-none px-2 mx-2" tooltip="Orders">
                <i-feather name="calendar"></i-feather>
            </a>
        </li>
    </ul>
</div> -->
