<div class="card card-box mb-4">
    <div class="px-4 py-3 d-block d-md-flex justify-content-between align-items-center text-center text-md-left">
        <div class="d-flex flex-md-row flex-column align-items-center">
            <div class="font-size-lg font-weight-bold" style="cursor: pointer;"  (click)="showPage('list')">
                {{"Team Memmbers" | translate }}
            </div>
            <div class="mx-3 d-none d-md-block">
                <div class="divider-v position-relative"></div>
                <div class="divider-v position-relative"></div>
            </div>
            <span class="text-black-50 font-size-md">
                {{taskArrlength}} {{  "in total" | translate }}
            </span>
            <div  class="search-wrapper search-wrapper--grow my-3 my-md-0 ml-0 ml-md-4">
              <span class="icon-wrapper text-black">
                <fa-icon [icon]="['fas', 'search']"></fa-icon>
              </span>
                <input [(ngModel)]='listFilter' [ngModelOptions]="{standalone: true}"  class="form-control"
                placeholder="Search Team Memmber ..." type="search">
            </div>
        </div>
        <div class="d-block d-md-flex align-items-center">
            <button  (click)="showPage('add')" class="btn btn-neutral-primary btn-sm font-weight-bold">
                  {{  "Add New Account" | translate }}
            </button>

        </div>
    </div>
</div>




<div *ngIf="currentPage === 'list'">
    <div class="card card-box mb-5">

        <div class="table-responsive">
            <table class="table table-hover text-nowrap mb-0">
                <thead>
                <tr>
                    <th class="bg-white text-left">{{"ID" | translate }}</th>
                    <th class="bg-white"> {{"Image" | translate }}</th>
                    <th class="bg-white text-center"> {{"Name" | translate }}</th>
                    <th class="bg-white text-center"> {{"Email" | translate }}</th>
                    <th class="bg-white text-center"> {{"Phone" | translate }}</th>
                    <th class="bg-white text-center"> {{"Title" | translate }}</th>
                    <th class="bg-white text-center">{{"Actions" | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let s of filteredAllDiscussion | paginate: { itemsPerPage: 8, currentPage: p }">
                    <td class="font-weight-bold">
                        #{{s.id}}
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="avatar-icon-wrapper avatar-icon-sm mr-2">
                                <div class="avatar-icon"><img alt="..." src="{{imageHost+s.image}}"/></div>
                            </div>
                            <div>
                            </div>
                        </div>
                    </td>
                    <td  class="text-center" style="font-family: 'Cairo', sans-serif;">
                        {{s.firstName}} {{s.lastName}}


                    </td>
                    <td class="text-center" >
                        {{s.email}}

                    </td>

                    <td  class="text-center" style="font-family: 'Cairo', sans-serif;">
                        {{s.phone}}

                    </td>

                    <td  class="text-center" style="font-family: 'Cairo', sans-serif;">
                        {{s.title}}

                    </td>



                    <td class="text-center">


                        <a (click)="updatetask('edit',s.id)" class="btn btn-neutral-primary btn-sm  m-1" tooltip="Edit">
                            <span class="pe-7s-note font-size-xxl"></span>

                        </a>
                        <a (click)="deleteTask(s.id)" class="btn btn-danger btn-sm m-1" tooltip="Delete">
                            <span class="pe-7s-trash font-size-xxl"></span>

                        </a>


                    </td>
                </tr>


                </tbody>
            </table>
        </div>
        <div class="card-footer py-3 d-flex justify-content-center">
            <pagination-controls previousLabel="Previous" nextLabel="Next"
            class="pagination-icons pagination-first" (pageChange)="p = $event"></pagination-controls>


        </div>
    </div>

</div>

<div *ngIf="currentPage === 'add'">

    <div class="font-size-lg font-weight-bold m-1" style="cursor: pointer; text-align: center;">
           {{"Add New Account" | translate }}
    </div><br>
    <div class="card cardinmob" >
        <form [formGroup]="Userform" (submit)="onSubmit(Userform.value)">



                <div class="form-row">

                    <div class="col-lg-12 col-md-12">


                        <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                        </div>
                        <br>

                        <fieldset class="form-group">

                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="image/*"
                             #fileUploader (change)="showPreview($event)" class="custom-file-input"
                              id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose
                              Main Image</label>
                          </div>



                        </fieldset>
                      </div>




                    <div class="col-md-6">
                        <div class="position-relative form-group"><label for="firstName">{{"First Name" | translate }}</label>
                        <input class="form-control " id="firstName"  formControlName="firstName"
                        name="firstName" placeholder="" type="text"></div>
                    </div>

                    <div class="col-md-6">
                        <div class="position-relative form-group"><label for="lastName">{{"Last Name" | translate }}</label>
                        <input class="form-control " id="lastName"  formControlName="lastName"
                        name="lastName" placeholder="" type="text"></div>
                    </div>

                    <div class="col-md-12">
                        <div class="position-relative form-group"><label for="phone"> {{"Phone" | translate }}</label>
                        <input class="form-control" id="phone"  formControlName="phone"
                        name="phone" placeholder="" type="number"></div>
                    </div>

                    <div class="col-md-12">
                        <div class="position-relative form-group"><label for="email">{{"Email" | translate }}</label>
                        <input class="form-control" id="email"  formControlName="email"
                        name="email" placeholder="" type="email"></div>
                    </div>


                    <div class="col-md-12">
                        <div class="position-relative form-group"><label for="title">{{"Title" | translate }}</label>
                        <input class="form-control" id="title"  formControlName="title"
                        name="title" placeholder="" type="title"></div>
                    </div>

                    <div class="col-md-12">
                        <div class="position-relative form-group"><label for="desc">{{"Description" | translate }}</label>
                        <textarea rows="5" class="form-control" id="desc"  formControlName="desc"
                        name="desc" placeholder="" type="desc"></textarea></div>
                    </div>




                </div>



                <div style="float: right;">
                    <button (click)="showPage('list')" class="mt-2 btn btn-dark m-2">{{"Back" | translate }}</button>

                    <button [disabled]="!isSubmitted"  type="submit" class="mt-2 btn btn-primary m-2"> {{"Create" | translate }} </button>

                </div>




        </form>



    </div>


</div>

<div *ngIf="currentPage === 'edit'">
    <div class="font-size-lg font-weight-bold m-1" style="cursor: pointer; text-align: center;">
            {{"Update Customer"|translate}}
    </div><br>
    <div class="card cardinmob" >
        <form [formGroup]="Userform" (submit)="onUpdate(Userform.value)">


            <div class="form-row">

                <div class="col-lg-12 col-md-12">


                    <div class="text-center" style="text-align: center; width: 100% ;">
                      <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                    </div>
                    <br>

                    <fieldset class="form-group">

                      <div class="custom-file  mx-auto d-block">
                        <input type="file" accept="image/*"
                         #fileUploader (change)="showPreview($event)" class="custom-file-input"
                          id="inputGroupFile01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose
                          Main Image</label>
                      </div>



                    </fieldset>
                  </div>




                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="firstName">{{"First Name" | translate }}</label>
                    <input class="form-control " id="firstName"  formControlName="firstName"
                    name="firstName" placeholder="" type="text"></div>
                </div>

                <div class="col-md-6">
                    <div class="position-relative form-group"><label for="lastName">{{"Last Name" | translate }}</label>
                    <input class="form-control " id="lastName"  formControlName="lastName"
                    name="lastName" placeholder="" type="text"></div>
                </div>

                <div class="col-md-12">
                    <div class="position-relative form-group"><label for="phone"> {{"Phone" | translate }}</label>
                    <input class="form-control" id="phone"  formControlName="phone"
                    name="phone" placeholder="" type="number"></div>
                </div>

                <div class="col-md-12">
                    <div class="position-relative form-group"><label for="email">{{"Email" | translate }}</label>
                    <input class="form-control" id="email"  formControlName="email"
                    name="email" placeholder="" type="email"></div>
                </div>


                <div class="col-md-12">
                    <div class="position-relative form-group"><label for="title">{{"Title" | translate }}</label>
                    <input class="form-control" id="title"  formControlName="title"
                    name="title" placeholder="" type="title"></div>
                </div>

                <div class="col-md-12">
                    <div class="position-relative form-group"><label for="desc">{{"Description" | translate }}</label>
                    <textarea rows="5" class="form-control" id="desc"  formControlName="desc"
                    name="desc" placeholder="" type="desc"></textarea></div>
                </div>




            </div>



                <div style="float: right;">
                    <button (click)="showPage('list')" class="mt-2 btn btn-dark m-2"> {{"Back"|translate}}</button>

                    <button  type="submit" class="mt-2 btn btn-primary m-2">  {{"Update"|translate}}</button>

                </div>




        </form>



    </div>
</div>

